.indicator {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 30%;
  border: 2px solid grey;
  border-radius: 5px;
  padding: 35px;
  transition: width 0.2s ease-in-out;
}

.indicatorDiv {
  display: flex;
  width: 30px;
  height: 30px;
  margin: 5px;
  /* background-color: red; */
  border-radius: 5px;
  justify-content: center;
  color: white;
  align-items: center;
  padding: 1.5px;
  font-weight: bold;
  cursor: pointer;
  transition: width 0.2s ease-in-out;
}
