.options {
    display: flex; /* Maintain flexbox for responsiveness */
    flex-direction: column; /* Align radio buttons vertically */
    justify-content: space-between; /* Distribute options evenly */
    margin-top: 10px;
    flex-wrap: wrap;
  }
  
  .option {
    margin: 5px;
  }
  
  .option input {
    margin-right: 5px;
    cursor: pointer;
  }
  
  .option label {
    cursor: pointer;
  }
  
